/* .App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.navbar {
  display: flex;
  align-items: center;
  height: 45px;
  background-color: #546e7a;
  font-size: 1.2em;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 20px;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 45px);
}

.landing-btn {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  text-align: center;
  height: 70px;
  border: 1px solid #546e7a;
  margin: 15px;
  text-decoration: none;
  min-width: 250px;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #546e7a inset, 0 0 10px 2px #546e7a;
}
/* #ffa726 */

.booking-page {
  margin: 10% auto auto 3%;
  max-width: 60vw;
}
.booking-page p {
  font-weight: bold;
  text-align: center;
}
.booking-page-form {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
}

.booking-page-form label {
  text-align: end;
  align-self: center;
}
.booking-page-form button {
  color: #ffffff;
  background-color: #ffa726;
  width: 60%;
  border-radius: 5px;
}
